
@{
    ViewBag.Title = "Index";
}

<h2>Registration</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Reg.js"></script>

<p>Name: </p>
<input type = "text" id = "txtName" />
<br />
<p>Mail: </p>
<input type = "text" id = "txtMail" />
<br />
<p>Team: </p>
<input type = "text" id="txtTeam" />
<br />
<p>Age: </p>
<input type = "text" id="txtAge" />
<input type = "button" id="btnSubmit" value="Submit" onclick = "SaveMvcTwo()" />

