
@{
    ViewBag.Title = "IndexLogList";
}

<h2>IndexLogList</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Login.js"></script>

<div class="col-sm-2">
    <table id="tblLogin" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

